@import url("whitespace-reset.css");

/**************************************************/
/* GENERAL */
/**************************************************/
body {
  font: normal 16px Montserrat, Helvetica, Arial, sans-serif;
  color: #333333;
}

a {
  font: inherit;
  color: inherit;
  text-decoration: none;
}

a.inline-anchor {
  font-weight: bold;
}

small {
  font-style: italic;
}

h1, h2, h3, h4, h5, h6 {
  font-family: Lato, Helvetica, Arial, sans-serif;
  font-weight: normal;
}

h1 {
  padding: 10px;
  font-size: 36px;
  text-align: center;
}

h2 {
  padding: 20px;
  margin-bottom: 10px;
  font-size: 24px;
}

h3 {
  margin: 10px;
  font-size: 20px;
}

.container {
  position: relative;
  box-sizing: border-box;
  z-index: 1;
}

/**************************************************/
/* NAVIGATION */
/**************************************************/

.container > nav,
.container > nav::before {
  width: 150px;
}

.container > nav {
  float: left;
  padding: 50px 10px;
  text-align: center;
  box-sizing: border-box;
}

.container > nav::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
  background: #bad6ba;
}

.container > nav li {
  margin: 20px 0;
  text-transform: uppercase;
}

.container > nav a {
  display: inline-block;
  padding: 5px;
  transition: text-indent .2s ease;
}

.container > nav a:hover {
  text-indent: 15px;
}

.container > nav a > i {
  display: block;
  margin: 10px auto;
  font-size: 72px;
  text-indent: 0;
  transition: filter .1s linear;
}

.container > nav a:hover > i,
.container > nav a.active > i {
  text-indent: 0;
  -webkit-filter: drop-shadow(2px 1px 2px rgba(0, 0, 0, 0.6));
  filter: drop-shadow(2px 1px 2px rgba(0, 0, 0, 0.6));
}

.container > nav a:active > i {
  text-indent: 0;
  -webkit-filter: none;
          filter: none;
}

/**************************************************/
/* MAIN */
/**************************************************/

main,
main::before {
  width: calc(100% - 150px);
}

main {
  overflow: hidden;
}

main::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 150px;
  z-index: -1;
}

/**************************************************/
/* HEADER */
/**************************************************/

header {
  border-bottom: 1px solid #cccccc;
}

/**************************************************/
/* CONTENT */
/**************************************************/

.content {
  padding: 20px;
  box-sizing: border-box;
}

.content article + article {
  display: none;
}

.content p {
  margin: 10px 0;
}

.content img {
  float: right;
  width: 400px;
  height: 400px;
  margin: 10px;
}

/**************************************************/
/* CONTENT ARTICLE */
/**************************************************/

.content > article h2 {
  border-bottom: 1px solid #cccccc;
}

/**************************************************/
/* BIO */
/**************************************************/

.bio section + section {
  margin-top: 20px;
  border-top: 1px solid #cccccc;
}

.bio p {
  text-align: justify;
}

/**************************************************/
/* SKILL */
/**************************************************/

/* Skill Box */

.skill {
  padding: 0;
  margin: 0 15px;
  /*border-left: 1px solid #cccccc;*/
  /*border-right: 1px solid #cccccc;*/
  border-left: 1px solid #333333;
  border-right: 1px solid #333333;
  transition: all .3s ease;
}

.skill:first-of-type {
  /*border-top: 1px solid #cccccc;*/
  border-top: 1px solid #333333;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
}

.skill + .skill {
  /*border-top: 1px solid #cccccc;*/
  border-top: 1px solid #333333;
}

.skill:last-of-type {
  /*border-bottom: 1px solid #cccccc;*/
  border-bottom: 1px solid #333333;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
}

.skill:not(:first-of-type) .skill-section {
  display: none;
}

.skill.active {
  margin: 0 0 5px 0;
  /*border-bottom: 1px solid #cccccc;*/
  border-bottom: 1px solid #333333;
  box-shadow: 0 0 16px rgba(0,0,0,0.4);
}

.skill h3 {
  margin: 0;
}

.skill h3 a {
  display: block;
}

.skill.active h3,
.skill h3 a:hover {
  /*background: #cccccc;*/
  color: #ffffff;
  background: #333333;
}

.skill h3 a::before {
  display: inline-block;
  content: '\00bb';
  font-size: 1.2em;
  padding: 5px;
  transition: transform .3s ease;
}

.skill h3 a:hover::before {
  transform: rotate(90deg);
}

/* Skill Section */

.skill-section {
  padding: 10px;
  margin: 0;
}

.skills li {
  padding: 3px 10px;
  border-top: 1px solid transparent;
}

.skill-list {
  display: inline-block;
  margin-bottom: 4px;
  border: 1px solid #333333;
  border-radius: 4px;
  vertical-align: top;
  box-sizing: border-box;
}

.skill-list h4 {
  padding: 5px;
  text-align: center;
  color: #ffffff;
  background: #333333;
  border: 1px solid #333333;
}

.skill-list li {
  display: block;
}

.skill-list li a {
  display: block;
  padding: 10px;
  border-top: 1px solid #cccccc;
}

.skill-list li a:before {
  content: "\00BB";
  padding: 0 5px 0 0;
}

.skill-list li a:hover {
  /*background: #cccccc;*/
  color: #ffffff;
  background: #333333;
  border-color: #333333;
}

/**************************************************/
/* PROJECTS */
/**************************************************/

/* Filters */

.filters {
  border-bottom: 1px solid #cccccc;
}

.filters h3 {
  text-align: center;
}

#project-filter {
  text-align: center;
  margin: 0 0 30px 0;
}

#project-filter li {
  display: inline-block;
  margin: 0 30px 0 0;
}

#project-filter input {
  display: none;
}

#project-filter input + .checkbox {
  position: relative;
  display: inline-block;
  width: 20px;
  height: 20px;
  vertical-align: middle;
  background: #444444;
  border-radius: 100%;
  transition: all .3s ease;
}

#project-filter input + .checkbox::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  margin-left: 15px;
  transform: translateY(-50%) rotate(-90deg);
  border-width: 30px 10px 0 10px;
  border-style: solid;
  border-color: #444444 transparent transparent transparent;
  cursor: pointer;
  transition: all .3s ease;
}

#project-filter input:checked + .checkbox {
  background-color: #bad6ba;
  transform: rotate(90deg);
}

#project-filter input:checked + .checkbox::after {
  border-top-color: #bad6ba;
}

#project-filter label {
  vertical-align: middle;
  margin-left: 20px;
  cursor: pointer;
}

/* Cards */

#cardBox {
  margin-top: 30px;
  text-align: center;
}

.card-container {
  display: inline-block;
  width: 300px;
  height: 400px;
  border: 1px solid #cccccc;
  perspective: 1000px;
}

.card-container:hover .card,
.card-container.hover .card {
  transform: rotateY(180deg);
  transform-origin: 50% 50% -1em;
}

.card {
  position: relative;
  width: 100%;
  height: 100%;
  transition: 0.6s;
  transform-style: preserve-3d;
}

.card .front,
.card .back {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.card .front {
  transform: rotateY(0deg);
}

.front-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.card .back {
  padding: 10px;
  color: #ffffff;
  background: rgba(69, 69, 69, 0.8);
  transform: rotateY(180deg) translateZ(2.0em);
  box-sizing: border-box;
}

.back h3 {
  margin: 0 0 20px;
  font-weight: normal;
  font-size: 24px;
  font-weight: bold;
  text-align: center;
  text-shadow: 1px 2px 3px black, 1px 2px 3px black;
}

.back h4 {
  display: inline-block;
  padding-bottom: 5px;
  margin: 0 0 5px;
  font-size: 1.1em;
  font-weight: normal;
  border-bottom: 3px solid #ffffff;
  text-shadow: 1px 2px 3px black;
}

.back ul {
  padding: 0;
  margin: 0 10px 25px;
  list-style: none;
  text-align: center;
  font-size: .9em;
}

.back li {
  margin: 4px 0;
}

.back li::before {
}

.card iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 200%;
  height: 200%;
  transform: scale(0.5);
  transform-origin: top left;
}

.card img {
  width: 100%;
  height: 100%;
  margin: 0;
  object-fit: cover;
}

.card img.left {
  object-position: left;
}

.card img.top {
  object-position: top;
}

.card img.left.top {
  object-position: left top;
}

.back .card-link {
  display: block;
  padding: 6px 4px;
  margin: 10px 0;
  text-align: center;
  color: inherit;
  text-decoration: none;
  border: 1px solid #ffffff;
  border-radius: 4px;
  transition: color .3s ease, background .3s ease;
}

.back .card-link:hover {
  color: rgba(69, 69, 69, 0.8);
  background: #ffffff;
}

/**************************************************/
/* EDUCATION */
/**************************************************/

[data-title="education"] .date {
  float: right;
}

.school {
  margin-bottom: 20px;
}

.old-exp-section {
  margin-bottom: 20px;
}

.old-exp-section ul {
  margin-bottom: 10px;
}

.old-exp-section li {
  margin-bottom: 5px;
}

.old-exp-section + .old-exp-section {
  padding-top: 15px;
  border-top: 1px solid #cccccc;
}

.exp-details li:before {
  content: "\00BB";
  padding: 0 5px 0 0;
}

/**************************************************/
/* CONTACT */
/**************************************************/

article[data-title="contact"] iframe {
  padding: 0;
  margin: 0;
  border: none;
  height: 700px;
  min-width: 400px;
  width: 100%;
  box-shadow: 0 0 8px 0 rgba(0, 0, 0, .8);
}

article[data-title="contact"] h3 {
  text-align: center;
}

/**************************************************/
/* FOOTER */
/**************************************************/

footer {
  padding: 30px;
  text-align: center;
  color: #ffffff;
  background: #333333;
}

footer ul li {
  display: inline-block;
  margin: 0 20px;
  font-size: 36px;
}

footer ul a {
  display: inline-block;
  padding: 5px;
  transition: transform .2s ease;
  box-sizing: border-box;
}

footer ul a:hover {
  transform: translateY(-5px);
}

footer ul a > i {
  transition: filter .1s linear;
}

footer ul a:hover > i {
  -webkit-filter: drop-shadow(2px 1px 2px rgba(255, 255, 255, 0.6));
  filter: drop-shadow(2px 1px 2px rgba(255, 255, 255, 0.6));
}

/**************************************************/
/* MISC */
/**************************************************/

.clearfix::before,
.clearfix::after {
  content: "";
  display: block;
  clear: both;
}
